### OSX ###
.DS_Store

### Node ###
# Logs
logs
*.log
npm-debug.log*

### Directories ###

unused
node_modules
.sass-cache
.eslintcache
uploads
test/temp
.tmp
test/scripts/

### AWS stuff for publishing static files ###
.aws-credentials.json
.awspublish*

### Thumbnails ###
._*
