ul.hours {
  position:absolute;
  display:block;
  bottom:-1px;
  //border-left: 1px solid $bg-lite-transparent;
  //-webkit-transform: 'translate3d(0, -100%, 0)';
  z-index:5;
  width: 100%;
  height: auto;
  margin:0;


  li {
    position:relative;
    height:50px;
    float:left;
    @include calc(width, "1.04166667%");
    text-align: center;
    font-size:10px;
    line-height:25px;
    //border-left: 1px solid $bg-lite-transparent-weak;
    //border-bottom: 1px solid $bg-lite-transparent;
    cursor:pointer;

    div {
    	position: absolute;
      height:50%;
    	left: 0;
    	bottom: 0;
    	right: 0;
      //padding-top:20%;
      //@include center-box();
      &:not(.no-marker) {
        border-left: 1px solid $white-transparent-3;
      }

    }


    .indicator {
      position: absolute;
      //top:0;
    //  padding:0;
      left:1px;
      width: 100%;
      height: 5px;
      background: red;
      //bottom: 100%;
      opacity:0;

      &.on {
        opacity:1;
      }
    }

  }

  li:first-child {
    border-left: 1px solid $transparent;
  }

  li:before {
  	content: "";
  	display: block;
  	padding-top: 100%; 	/* initial ratio of 1:1*/
  }

  //li:last-child,
  //li:nth-child(6n):not(:last-child) {
  //li:nth-child(6n)
  li.marker {
    border-left: 1px solid $white-transparent-5;
  }

}

@media screen and (max-width: 414px) {

  ul.hours {

    li {
      height:30px;
      line-height:15px;

      .indicator {
        height:4px;
      }
    }
  }
}
