.toggle-btn {
  //@include calc(width, "100% - 4px");
  width:40px;
  height:40px;
  //padding:4px 5px 4px 0;
  //padding-left: -10px;
  //margin-right:4px;
  font-size:18px;
  color:$hilite-color;
  border-radius:4px;
  background:$bg-color;
  border:1px solid $border-color;

  &.no-boundary {
    background:none;
    border:none;
  }
}
