@font-face {
  font-family: 'MagnesiumMVBStd-Grime';
  src: url('MagnesiumMVBStd-Grime.eot');
  src: url('MagnesiumMVBStd-Grime.woff2') format('woff2'),
       url('MagnesiumMVBStd-Grime.woff') format('woff'),
       url('MagnesiumMVBStd-Grime.ttf') format('truetype'),
       url('MagnesiumMVBStd-Grime.svg#MagnesiumMVBStd-Grime') format('svg'),
       url('MagnesiumMVBStd-Grime.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

