@font-face {
  font-family: 'AzoSans-Regular';
  src: url('../fonts/azo/AzoSans-Regular.eot');
  src: url('../fonts/azo/AzoSans-Regular.woff2') format('woff2'),
       url('../fonts/azo/AzoSans-Regular.woff') format('woff'),
       url('../fonts/azo/AzoSans-Regular.ttf') format('truetype'),
       url('../fonts/azo/AzoSans-Regular.svg#AzoSans-Regular') format('svg'),
       url('../fonts/azo/AzoSans-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AzoSans-Light';
  src: url('../fonts/azo/AzoSans-Light.eot');
  src: url('../fonts/azo/AzoSans-Light.woff2') format('woff2'),
       url('../fonts/azo/AzoSans-Light.woff') format('woff'),
       url('../fonts/azo/AzoSans-Light.ttf') format('truetype'),
       url('../fonts/azo/AzoSans-Light.svg#AzoSans-Light') format('svg'),
       url('../fonts/azo/AzoSans-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AzoSans-Thin';
  src: url('../fonts/azo/AzoSans-Thin.eot');
  src: url('../fonts/azo/AzoSans-Thin.woff2') format('woff2'),
       url('../fonts/azo/AzoSans-Thin.woff') format('woff'),
       url('../fonts/azo/AzoSans-Thin.ttf') format('truetype'),
       url('../fonts/azo/AzoSans-Thin.svg#AzoSans-Thin') format('svg'),
       url('../fonts/azo/AzoSans-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
